# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files\
/aws.xml
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

node_modules
dist

# Ignore Gradle project-specific cache directory
.gradle

.idea
.vscode

# Ignore Gradle build output directory
build
bin

.project
.settings

/aws.xml

lambda-service-development.yml

package-lock.json
yarn.lock