/* Variables */
:root {
    --primary-color: #131921;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
}

/* Generic Styles */
.background {
    background: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.color-background {
  font-family: 'myFont', sans-serif;
  background-color: #F5F5F5;
  padding: 20px;
  width: 150%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-top: -15px;
  border-radius: 10px;

}

.image-container img {
  flex: 1;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.image-container img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-1 {
  background-image: url('./images/toolbackground.jpg');
}

.image-2 {
  background-image: url('./images/seemlesstools.png');
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #113F61;
  color: var(--secondary-color);
  padding: 5px 20px;
  border-radius: 10px;
  margin: 10px auto 100px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 5px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    text-decoration: none;
    color: var(--secondary-color);
}

.logo-image {
  width: 45px;
  height: auto;
  margin-top: 10px;
  margin-right: 750px;
  border: 2px solid #cbb26a;
  border-radius: 10px;
}

.brandName {
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  border: 2px solid #cbb26a;
  margin-top: 10px;
  margin-right: 40px;
}

/* Card Styles */
.card {
    font-family: 'myFont', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.card-content {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sentence {
    font-size: 18px;
    color: #333333;
    margin: 0;
}

/* Button Styles */
.button, button {
    background-color: #aed9ff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button:hover, button:hover {
    background-color: #9cc3e4;
    transform: scale(1.05);
}

.card-button {
    background-color: #195b8c;
    color: #ffffff;
    margin: 0 10px;
}

.card-button:hover {
    background-color: #0f405e;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Form Styles */
.validated-field:invalid {
    outline: 2px solid var(--error-color);
}

.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }
}
